.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    #container_tool_navbar_elements {
        width: 100%;
        display: flex;
        justify-content: flex-end;
            button{
                text-decoration: none; 
                text-shadow: 0 0 5px #ffdf00; 
                color: #ffdf00; 
                cursor: pointer;
                &:focus{
                    border-color: transparent; 

                }
              }
        }
        i{
            margin: 0 16px;
            font-size: 24px;
            color: #ffdf00; 
            background-color: #fff;

          }
      }
    

  
