<div class="toolbar" role="banner">
    <div id="container_tool_navbar_elements">
      <div *ngIf="!isLogged">
        <a [routerLink]="['/login']"> <button  type="button" id="login" class="btn btn-primary-outline" >
          Login                 	        
        </button></a></div>
        <div *ngIf="!isLogged"><a [routerLink]="['/register']"><button type="button" id="register" class="btn btn-primary-outline">
          Register
       </button></a></div>
       <div *ngIf="isLogged"><button class="btn btn-primary-outline" (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i>

        </button></div>
    </div>
  </div>


